body {
    margin: 0;
}

.content {
    background-image: url("record.png");
    background-color: white;
    background-repeat: repeat;
}

.top-banner {
    background-color: darkcyan;
    color: lightcoral;
    text-align: center;
}

.lower-banner {
    background-color: lightgray;
    padding: 1em;
}