body {
    background-image: url("../example.png");
    background-color: white;
    background-size: cover;
}

header {
    background-color: darkcyan;
    color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: lightgray;
}